<h3 class="text-center">Les Etudiants</h3>
<!--<div class="row mt-3">

  <pagination-controls  id="reservations-paginate" [maxSize]=5
                       [directionLinks]=true previousLabel="Précedent" nextLabel="Suivant"
                       class="pagination-box pl-5"
  >
  </pagination-controls>
</div>-->
  <div class="table-responsive  d-flex justify-content-center">
    <table class="table widget-26">
      <tbody>
        <tr class="mb-1 studentItem rounded" *ngFor="let item of data|
        paginate: {
        id: 'classroom-paginate',
        itemsPerPage: 7,
        currentPage: this.page,
        totalItems: this.totalItems
         }" >
          <td class="m-auto">
            <div class="widget-26-job-emp-img">
              <img src="/assets/man-300x300.png" class="img-responsive rounded-circle avatar" alt="Avatar" />
            </div>
          </td>
          <td class="m-auto">
            <div class="widget-26-job-title">
              <h6 class="m-0 mt-2">
                <span class="font-weight-bold">{{item.prenom}}</span><br>
              </h6>
            </div>
          </td>
          <td class="m-auto">
            <div class="widget-26-job-title">
              <h6 class="mt-2 justify-content-center">
                <span class="font-weight-bold">{{item.nom}}</span><br>
              </h6>
            </div>
          </td>
          <td class="m-auto">
            <div class="widget-26-job-title">
              <h6 class="mt-2">
                <span class="font-weight-bold">{{item.adresse}}</span>
              </h6>
            </div>
          </td>
          <td class="m-auto d-flex justify-content-end">
            <button  routerLink="/admin/edit-student/{{item.id}}" class="btn btn-outline-warning btn-circle btn-circle-sm btn-sm m-1">
              <fa-icon [icon]="edit"></fa-icon>
            </button>
            <button routerLink="/admin/edit-student/{{item.id}}" class="btn btn-outline-danger btn-circle btn-circle-sm btn-sm m-1">
              <fa-icon [icon]="delete"></fa-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
<pagination-controls (pageChange)="pageChanged($event)" id="classroom-paginate" [maxSize]=5
                     [directionLinks]=true previousLabel="Precedent" nextLabel="Suivant"
                     class="pagination-box text-center"
>

</pagination-controls>
